body
{
    background-color: #242526; 
    color: white;
}
input
{
    background-color: #242526; 
    color: white; 
    width: 90%; 
    text-align: center;
}
#Kraj 
{
    float: left; 
    width: 33%;
}
#DwT 
{
    float: left; 
    width: 33%;
}
#Output 
{
    float: left; 
    width: 34%;
}
table, tr, td, th
{
    text-align: center;
    border: 1px solid grey;
    border-collapse: collapse;
}
td 
{
    height: 36px; 
}
th
{
    padding: 4px;
    color: rgb(105, 96, 79);
    border: 1px solid rgb(105, 96, 79);
}
a{color: white;}
#obl, #NextTura
{
    background-color: white; 
    color: black;
}
h1 
{
    text-align: center; 
    border: 1px solid grey; 
    border-collapse: collapse;
}
#TAB1I, #TAB2I, #TAB3I, #TAB4I, #TAB5I, #TAB6I, #TAB7I
{
    width: 50%; float: left;
}
#TAB3I, #TAB5I, #TAB7I { clear: both; }
#TAB7I { width: 100%; }

#TAB1D, #TAB2D, #TAB3D, #TAB4D, #TAB5D
{
    width: 50%; float: left;
}
#TAB3D, #TAB5D { clear: both; }

#TAB1O, #TAB2O, #TAB3O, #TAB4O, #TAB5O, #TAB6O, #TAB7O, #TAB8O
{
    width: 33.3%; float: left;
}
#TAB4O, #TAB7O, #TAB8O { clear: both; }
#TAB8O { width: 100%; }